.logo {
    max-width: 150px; /* Adjust the size as needed */
    float: right; /* Position the image on the right */
  }
  
  html, body {
    height: 100%;
    margin: 0;
}

.container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dropdown-trigger {
  display: relative;
}

.dropdown-content {
width: auto;
  text-align: center;
}